@import "../Header/header";

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

.spinner{
width: clamp(140px, 160px, 280px);
height: auto;
animation: spin 10s ease-in-out infinite;
display: block;
}

}

