.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

.spinner{
background-image: url('../../../public/img/');
width: clamp(40px 60px 80px);
height: auto;
}

}

