@import '../../styles/_fonts/fonts';
@import '../../styles/_colors/colors';

.card {
    width: 100%;
    border-radius: 30px;
    max-width: 290px;
    background: rgba(255, 255, 255, 0.45);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 17px 6px rgba(126, 201, 245, 0.4);
    backdrop-filter: blur(20px) brightness(100%);
    border-radius: 30px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    & .imageContainer {
        position: relative;
        & img {
            border-radius: 20px;
            width: 100%;
        }
        & .overlay {
            position: absolute;
            background: linear-gradient(145.12deg, #0000FF -25.39%, #29ABE2 73.16%);
            z-index: 10;
            top: 0;
            bottom: 0;
            width: 100%;
            border-radius: 20px;
            mix-blend-mode: overlay;
            opacity: 0;
        }
    }
    & .meta {
        padding: 10%;
        height: 100%;
        display: flex;
        // & .h-240 {
        //     height: 240px;
        // }
    }
    & span {
        font-family: $mainFont;
        color: $secondary;
        font-weight: lighter;
        font-size: 1.5rem;
    }
    & h5 {
        color: $secondary;
        margin-bottom: 15px;
    }
    & p {
        color: $highContrast;
    }
    & .client-card-title {
        // margin-top: 15px;
        font-family: $mainFont;
        font-weight: lighter;
        font-size: 1.2rem;
        color: $highContrast;
    }
}

@media screen and (max-height: 768px) {
    .card {
        width: 100%;
        min-height: 200px;
        display: flex;
    }
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

@media screen and (max-width:768px) {
    .projects {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

span.project-link {
    font-size: 1em;
    margin-bottom: 25px;
    align-items: bottom;
    align-items: flex-end;
    margin-bottom: auto;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    margin-top: 15px;
}

span.project-link:hover {
    cursor: pointer;
}