// COLORS
$primary:#7EC9F5;
$secondary: #3957ED;
$base: #f6f6f6;
$lowContrast: #A5AFB6;
$highContrast: #374249;

.year{
  color: $secondary;
  font-weight: 300;
  font-size: clamp(18px, 28px, 32px)
}

.title{
  color: $secondary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: clamp(2rem, 42px, 3rem)
}

.brand{
  font-size: clamp(18px, 28px, 32px);
  color: $highContrast;
}

.image {
  max-width: 100%;
  border-radius: 40px;
  padding: 2%;
}

.subtitle{
  color: $secondary;
  font-weight: semibold;
  font-size: clamp(18px, 2rem, 42px);
}

.textureProjects{
  background: url(../../img/projectsBg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  position:absolute;
  top:0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bodyText{
  line-height: 1.85rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $highContrast;
  font-size: clamp(14pt, 1.15rem, 16pt);
}

.pills{
  padding: 1em;
  border-radius: 30px;
  border:3px solid white;
  color: $secondary;
  box-shadow: 3px 3px 10px #7EC9F5;
  margin: 0.25em;
  min-width: 80px;
  text-align: center;
}

.pillsContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;

  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: auto;
  // grid-gap: 10px;
  // justify-content: space-between;
  // align-items: center;
}

.btnProjects{
  background:linear-gradient($primary $secondary);
  padding:5% 2%;
  border-radius: 20px;
}