@media (min-width: 300px) and (max-width: 767px) {
    header {
        background-image: url(../img/bgHeader.svg);
        background-size: cover;
        max-height: clamp(50vh, 65vh, 700px);
        background-repeat: no-repeat;
        background-position: bottom left;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    header {
        background-image: url(../img/bgHeader.svg);
        background-size: cover;
        height: 30vh;
        background-repeat: no-repeat;
        background-position: left;
    }
}

@media (min-width:1024px) {
    header {
        background-image: url(../img/bgHeader.svg);
        background-size: cover;
        max-height: 700px;
        background-repeat: no-repeat;
        background-position: left;
    }
}

    header {
    background-image: url(../img/bgHeader.svg);
    background-size: cover;
    max-height: 750px;
    background-repeat: no-repeat;
    background-position: bottom;
    }

.heroBg {
    width: 90%;
    display: block;
    margin: auto;
    filter: drop-shadow(9px 9px 49px #7EC9F5);
}

.animationRotate {
    animation: spin 10s ease-in-out infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.phone {
    position: absolute;
    transform: translate(50%, -90%);
    max-width: 50%;
    display: block;
    margin: auto;
}

.arrow {
    width: 25vw;
    min-width: 200px;
    position: absolute;
    left: 5%;
    top: 450px;
}

@media screen and (min-width:300px) {
    .containerCarousel {
        position: relative;
        top: -37vh;
        left: 30px;
    }
}

.containerHero {
    position: relative;
    width: 100%;
}

@media screen and (max-width:768px) {
    .containerHero {
        position: relative;
        width: 100%;
    }
    .arrow {
        width: 60vw;
        min-width: 200px;
        position: absolute;
        left: -10%;
        top: calc(10% + 590px);
    }
}

@media (min-width: 300px) and (max-width:768px) {
    .arrow {
        width: 40vw;
        min-width: 150px;
        position: absolute;
        left: -5%;
        top: clamp(60%, 50%, 70%);
    }
}

@media screen and (min-width:300px) {
    .containerCarousel {
        position: relative;
        top: -33vh;
        left: 30px;
    }
}
@media screen and (min-width:768px) {
    .containerCarousel {
        position: relative;
        top: -16vh;
        left: 50px;
    }
}

@media screen and (min-width:1024px) {
    .containerCarousel {
        position: relative;
        top: -460px;
        left: 30px;
    }
}

.serviceCarousel {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
