@import '../../styles/_colors/colors';

footer{
justify-content: center;
display: flex;
}

.footer{
  background: linear-gradient(90deg, rgba(0,0,255,1) 0%,  rgba(126,201,245,1) 100%);
  max-width: 1200px;
  border-radius: clamp(20px, 30%, 50px) clamp(20px, 30%, 50px) 0 0;
  padding: 0;
  margin-top: 10vh;
  padding: 5% 5% 0 5%;

  & .title{
    background: -webkit-linear-gradient(180deg, #7EC9F5, #3957ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

  }

  .img-footer{
    position: relative;
    bottom: -3px;
  }
}